<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" /> -->

</head>
<body>


    <nav class="main-menu">
      <ul>
        <li>
          <a routerLink="preview">
            <i class="fa fa-home nav-icon"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>

        <li>
          <a routerLink="vplayer">
            <i class="fa fa-image nav-icon"></i>
            <span class="nav-text">Video Player</span>
          </a>
        </li>

        <li>
          <a routerLink="contact">
            <i class="fa fa-pen nav-icon"></i>
            <span class="nav-text">Contact us</span>
          </a>
        </li>

        <li>
          <a >
            <i class="fa fa-envelope nav-icon"></i>
            <span class="nav-text">Messages</span>
          </a>
        </li>

        <li>
          <a >
            <i class="fa fa-bell nav-icon"></i>
            <span class="nav-text">Notification</span>
          </a>
        </li>

      </ul>

      <ul class="logout">
        <li>
          <a>
            <i class="fa fa-cogs nav-icon"></i>
            <span class="nav-text">Settings</span>
          </a>
        </li>

        <li>
          <a >
            <i class="fa fa-right-from-bracket nav-icon"></i>
            <span class="nav-text">
              Logout
            </span>
          </a>
        </li>  
      </ul>
   </nav>
    
   


  <script  src="../../assets/script/sidebar.js"></script>

</body>
</html>
  